<div class="text-center">
<%- include("partials/header") %>
<h1 class="display-4"><%= campground.name %></h1>
<img src="<%= campground.image %> " class="img-thumbnail">
</div>
<p class="m-3 text-secondary"><%= campground.description %></p>
<%- include("partials/footer") %>
